/* Form for CV */

div.CV_form_body {
margin: auto;
  width: 500px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
  margin-top: 10%;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
}

body.form {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}




/* Cover Letter */

div.CV_form_response {
margin: auto;
  width: 1000px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
  border: 1px solid black;
  background-color: white;
}

body.cv {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

div.cv_grid-template {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 0px;
    grid: 'null abt'
    'pic cv';
    margin-left: 0%;
    margin-right: 0%;

  }

  .cv_grid-template > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

img.cv_photo {
width: 100px;
height: 100px;
border-radius: 50%;
}

div.cs_img {
height: 150px;
width: 150px;
}

div.cv_body {
width: 700px;
text-align: left;
}

div.cv_about {
float: right;
text-align: right;
width: 700px;
}

p.indent {
text-indent: 30px
}


/* Job history */

body.jbhx {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

div.job_container {
  width: 600px;
  height: 520px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
}

div.jb_grid {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 0px;
    grid: 'one two'
    'three four'
    'five six';
    margin-left: 0%;
    margin-right: 0%;
  }

  .jb_grid > div {

    text-align: left;
    padding: 30px 20px;

  }

div.job_con_main {
margin: auto;
  width: 1500px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;

}
 div.job_container2 {
 width: 600px;
  height: 1000px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
 }


 /* references */

 body.ref {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}
div.ref_con_main {
margin: auto;
  width: 1200px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;


}

div.ref_grid {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 50px;
    grid: 'one two'
    'three four'
    'five six';
    margin-left: 0%;
    margin-right: 0%;
  }

  .ref_grid > div {

    text-align: left;
    padding: 30px 20px;

  }
div.indv_ref1 {
  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.indv_ref2 {  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
text-align: right;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.indv_ref3 {  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 /* School */
body.scl {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

/* Skills (inherits most from jobhx */

div.skills_container {
  width: 500px;
  height: 350px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
}

/* Home */

body.home {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

div.home_con_title {
margin: auto;
  width: 1500px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
text-align: Center;
margin-top: 5%;
margin-bottom: 5%;
}

div.H_grid {
  margin: auto;
  width: 1300px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 50px;
    grid: 'one two';
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .ref_grid > div {

    text-align: left;
    padding: 30px 20px;
margin-bottom: 5%;
  }

div.my_img {
display: flex;
  align-items: center;
  justify-content: center;
opacity: 0.5;

}

div.about {
font-weight: bold;
text-align: center;
}



/* Schedule a Meeting */

div.construction{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


@media (max-width: 480px) {
 /* Landscape phones and down */
     /* cv form responce*/
div.CV_form_response {width: 375px;margin: 0px;
padding: 0px;}
img.cv_photo {width: 20px; height: 20px;}
img.cs_img {width: 30px; height: 30px;}
div.cv_about {width: 370px;}
div.cv_body {width: 370px;}
div.cv_grid-template {padding: 0px;display: grid;
    grid-gap: 0px;
    grid-row-gap: 0px;
    grid: 'null abt'
    'null cv';
    margin-left: 0%;
    margin-right: 0%;}

    /* job history*/
    div.job_con_main {width: 375px; margin: 0px;padding: 0px;}
div.job_container {width: 360px;
height: 800px; }
div.job_container2 {
 width: 360px;
  height: 1100px;}
div.jb_grid {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 10px;
    grid: 'one two'
    'four three'
    'five six';
  }

  .jb_grid > div {

    text-align: left;
    padding: 30px 20px;

  }


    /* form */
div.CV_form_body {
  width: 380px;}

   /* home */
div.home_con_title {width: 375px;}
div.H_grid {width: 375px;  display: grid;
    grid-gap: 0px;
    grid-row-gap: 50px; grid: 'one'
'two';}
div.my_img {display: none;
  align-items: initial;
  justify-content: initial;}

   /* references */

div.ref_con_main {
margin: auto;
  width: 375px;
  padding: 0px;}

div.ref_grid {
    padding: 10px;
    display: grid;
    grid-gap: 0px;
    grid-row-gap: 50px;
    grid: 'one two'
    'four three'
    'five six';
  }

  .ref_grid > div {

    text-align: left;
    padding: 30px 20px;

  }
div.indv_ref1 {
  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.indv_ref2 {  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.indv_ref3 {  width: 360px;
  height: 300px;
  padding: 40px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.skills_container {
  width: 360px;
  height: 400px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 50px;
font-weight: bold;
}









}

