<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

       <title>KHC</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2CPEKYTSBN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2CPEKYTSBN');
</script>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        {% load static %}
        <a class="navbar-brand" href="#"><img src="{% static 'icon-resume-11.jpg' %}" alt="logo" width="100"
                                              height="60"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"> Resume Items </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="jobhx">
                                Job History
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="references">
                                References
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="school">
                                School
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="skills">
                                Key Skills
                            </a>
                        </li>
                        <li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="dl_resume">
                                Download a PDF Copy
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="home_2">
                                New Home Page
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="call">Schedule a Meeting</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"> Talent Showcase </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="cover_letter_customize">
                                Cover Letter App
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="sft">
                                Analysis of Software Analyst Skills
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="pbi_embedded">
                                Power BI Dashboard Embedded
                            </a>
                        </li> <!--
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" aria-current="page" href="pbi">
                                Power BI Dashboard Static Examples
                            </a>
                        </li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">More to Come
                            </a>
                        </li>
                        </li>
                    </ul>
                </li>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"> Hi, {{user.first_name}} </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>

                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
{% block content %}
replace me
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="{% static 'app.js' %}"></script>
{% endblock script %}
</body>
</html>