{% extends 'base.html' %}

{% block content %}

{% load static %}
<body>
<div class="CV_form_body">
<div class="cv_grid-template" style="grid-area: pic">
   <img class="login_img" src="{% static 'cv_photo.jpg' %}" alt="logo">
</div>
<div class="cv_grid-template" style="grid-area: cv">
<p>Hello {{Name|safe}}!,</p>

I'm writing to apply for the available {{Field_Applied|safe}} position. Over the past few years, I have been privileged to gain significant experience in managing, modifying, and tailoring several Electronic Health Records platforms to my employer’s requirements. I have been managing an EHR called Kipu Health and Collaborate MD for the past two years, but I also have experience in managing other similar EHR software such as Zencharts and BlueBooks.

I have acquired proficient skills in utilizing data analytics and Business Intelligence software to solve issues with software deficiencies and departmental procedure workflows. One of these projects that I have created to solve these issues is a report that generates a list of randomly selected patients for Urine Drug Screens, where each patient appears only once per week and never on the same day as the prior week. Another report that I created, tracks patient medical appointments to ensure patients are seen each week in accordance to insurance requirements. I am confident that my skills are well-aligned with this role, and that I would be an excellent fit for your organization.

I have experience with working in a team setting, as well as working on my own with minor supervision. My goal in applying for this position is to continue my career as a software analyst by learning and growing my knowledge base.

I believe my experiences and track record make me an excellent addition to your company’s team. I have enclosed my resume for your consideration.

<p>Sincerely,</p>

<p>Kevin H. Caldon Jr.</p>
</div>
{{Name|safe}}
{{link|safe}}
{{Job_type|safe}}
{{Field_Applied|safe}}
</div>
</body>
{% endblock %}