{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'beach.jpg'%}');">
<div class="H_grid">
    <div class="about" style="grid-area: one">
        <h4 style="text-align: center">Welcome!</h4>
        Thank you for your interest in me as a candidate for the open position at your company!<br>
        If you would like a pdf copy of my resume please click on Download link in the top right corner of your
        screen!<br>
        Along with the download button I also have links to areas of my virtual resume and some presentations of a few
        of my skill sets<br>
        If you would like to schedule an interview with me please navigate to the Schedule a Meeting Section of the Nav
        bar!

    </div>
    <div class="my_img" style="grid-area: two">
        <img class="cv_photo" src="{% static 'cv_photo.jpg' %}" alt="logo">
    </div>
</div>
<div class="H_grid">
    <div class="my_img" style="grid-area: one">
        <img class="cv_photo2" src="{% static 'DG.jpg' %}" alt="logo">
    </div>
    <div class="about" style="grid-area: two">
        <h4 style="text-align: center">About Me</h4>
        I am a very hard worker and a quick learner which<br> makes for the perfect storm of talent and skills!<br>
        But lets put that aside for a second since what would<br> life be with constant work and no play?<br>
        When I am not working you can usually find me on a disc<br> golf course, this is one of my favorite past times!<br>
        So much so that I volunteered to be spend some of<br> my free time as the Treasure for the 2022-2023 <a href="https://palmbeachdiscgolf.com/" target="_blank">Palm Beach Disc Golf</a>
        Club Board of Directors.<br>
        Along with disc golf I also enjoy playing video games,<br> snorkeling at the beach, and learning as much as I can
        about programing.<br>
    </div>
</div>
<div class="home_con_title">
    <h2>Thank you for visiting my online resume!</h2>
</div>
</body>
{% endblock %}