{% extends 'base.html' %}

{% block content %}

{% load static %}
<body>
<div class="CV_form_body"><strong>
    <h3>
        Hello There!
    </h3>
        <p>
            Welcome to my virtual resume!
        </p>
    <p>
        To get started let's get some information from you to customize this experience!
    </p>
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</strong>
</div>
</body>
{% endblock %}