{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="text-bg">
                    <h1>Data<br>Analysis</h1>
                    <span>Your Data at Your Fingertips</span>
                    <p>Lets take the guess work out of business decisions!</p>
                    <a href="call">Get Started</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text-img">
                    <figure><img src="{% static 'img.png' %}"/></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- Hosting -->
<div id="" class="hosting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Data Engineering</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="web_hosting">
                    <figure><img src="{% static 'web.jpg' %}" alt="#"/></figure>
                    <p>
                        Data normally doesn't come out of the box ready to be used in a report. Often times data is
                        messy, unorganized, and stored in a variety of different sources. Transforming data in
                        meaningful
                        ways is the benchmark on what makes a good report. <strong>Data transformation can make or break
                        a report!</strong> We work with you to determine what you are
                        looking to get out of your data and how we can clean and transform that data to best suite your
                        needs.
                    </p>
                    <a href="https://learn.microsoft.com/en-us/power-bi/transform-model/" target="_blank">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Hosting -->
<!-- Services  -->
<div id="service" class="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Services</h2>
                    <p>We offer a wide range of consulting to best suite your data needs.<br>

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service1.png' %}" alt="#"/></i>
                    <h3>Power BI Dashboards</h3>
                    <p>We excel at creating custom professionally designed dashboards</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service2.png' %}" alt="#"/></i>
                    <h3>Paginated Reports</h3>
                    <p>Tired of querying your database for list data?
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service3.png' %}" alt="#"/></i>
                    <h3>Excel Custom Workbooks</h3>
                    <p>Sometimes you just need to go old fashion to get the job done!
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service4.png' %}" alt="#"/></i>
                    <h3>Power Automate</h3>
                    <p>We can help automate the mundane, repetitive tasks with workflow automation.
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service5.png' %}" alt="#"/></i>
                    <h3>ETL (coming soon)</h3>
                    <p>Combine your data into one easy to access location!
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="{% static 'service6.png' %}" alt="#"/></i>
                    <h3>SQL Database Management (coming soon)</h3>
                    <p>Datebase management made simple, whether it's creating or maintaining existing infrastructure, we
                        use best practices to keep you data safe.</p>
                </div>
            </div>
           <!--<a class="read_more" href="#">Read More</a>-->
        </div>
    </div>
</div>
<!-- end Servicess -->
<!-- why -->
<div id="why" class="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Why choose us? </h2>
                    <p>With the hundreds of individuals talented in data analysis and BI reporting, why BI
                        Consulting?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div id="box_ho" class="why-box">
                    <i><img src="{% static 'why1.png' %}" alt="#"/></i>
                    <h3>Powerful Features</h3>
                    <p>From drill throughs to tool tips, data labels, and interactive buttons. We take your reports to
                        the next level!
                        <br>
                        <br>
                    </p>
                </div>
                <a class="read_more bg" href="pbi_embedded">Dashboard Example</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="why-box">
                    <i><img src="{% static 'why3.png' %}" alt="#"/></i>
                    <h3>World Class Support</h3>
                    <p>We work tirelessly to ensure your platform stays operational and your reports continue to work
                    <br>
                        <br></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="why-box">
                    <i><img src="{% static 'why2.png' %}" alt="#"/></i>
                    <h3>Experience</h3>
                    <p>With 7 years of experience working in Behavioral Health and with Kipu EMR, we know the important
                        things you want to see!
                    </p>
                </div>
                <a class="read_more bg" href="reports">Report Examples</a>
            </div>
        </div>
    </div>
</div>
<!-- end why -->
<!-- contact -->
<!-- end contact -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
{% endblock %}

