{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="jbhx" style="background-image: url('{% static 'beach.jpg'%}');">
<div class="job_con_main">
    <div class="jb_grid">
        <div class="job_container" style="grid-area: one">
            <div class="job_header"><h3>Software Analyst</h3> (EHR Administrator)<br>
                Beach House Center for Recovery - Juno Beach, FL<br>
                September 2019 to Present<br>
            </div>
            <div class="job_body">
                <ul>
                    <li>
                        Analyze, customize, and tailor software to fit the needs of the client (BHC)
                    </li>
                    <li>
                        Act as primary liaison between client and software company when troubleshooting errors within
                        the
                        software
                    </li>
                    <li>
                        Create department specific workflows and trained all new hires that interacted with the software
                    </li>
                    <li>
                        Create custom ad-hoc reports for C-level executives using Excel, Python, and Microsoft Power BI
                    </li>
                    <li>
                        Work with department heads to develop custom automated reports based on the needs of the
                        department
                    </li>
                    <li>
                        Create and design the companies BI reports and the automation (Power Automate) used to drive the
                        raw
                        data collection, refreshing, and distribution of all BI Reports.
                    </li>
                    <li>
                        Responsible for new feature implementation and user training.
                    </li>
                    <li>
                        End User Support via a Helpdesk
                    </li>
                </ul>
            </div>
        </div>
        <div class="job_container" style="grid-area: four">
            <div class="job_header"><h3>Operations Manager</h3><br>
                Bethesda Behavioral Health - Boynton Beach, FL <br>
                March 2019 to September 2019 <br>
            </div>
            <div class="job_body">
                <ul>
                    <li>
                        Work closely alongside of CEO to implement and observe compliance with all company policies and
                        procedures.
                    </li>
                    <li>
                        Development of Policies and Procedures through data collection and quarterly meetings on
                        Infection Control and Environment of Care.
                    </li>
                    <li>
                        Manage the companies DCF and Certificate of Use/Business Tax license renewal
                    </li>
                    <li>
                        Primary contact point for Joint Commission Audit and handled subsequent correct action
                        submissions.
                    </li>
                    <li>
                        Gained hands on experience in most Joint Commission standards for MM, CTS, EOC, and IC.
                    </li>
                    <li>
                        Administered and initialized all users accounts in Office 365.
                    </li>
                    <li>
                        Administered and built forms in companies EHR
                    </li>
                </ul>
            </div>
        </div>
        <div class="job_container2" style="grid-area: five">
            <div class="job_header"><h3>Behavioral Healthcare</h3><br>
                Lead BHT Supervisor<br>
                YOUR LIFE RECOVERY - Boynton Beach, FL <br>
                May 2018 to March 2019 <br>
            </div>
            <br>
            <div class="job_header">BHT Coordinator<br>
                New Light Medical - Boca Raton, FL <br>
                October 2017 to May 2018<br>
            </div>
            <br>
            <div class="job_header">BHT w/ promotion to Lead BHT<br>
                Satori Waters, LLC - Delray Beach, FL <br>
                August 2015 to September 2017 <br>
            </div>
            <br>
            <br>
            <br>
            <div class="job_body">
                <ul>
                    <h3>Lead Tasks</h3>
                    <li>
                        Supervising, training, coaching BHT staff
                    </li>
                    <li>
                        Scheduling BHT shifts
                    </li>
                    <li>
                        Joint Commission surveillance documents
                    </li>
                    <li>
                        Intake(new patient) coordination
                    </li>
                    <li>
                        Delegating tasks to BHT staff
                    </li>
                    <li>
                        Administered and initialized all users accounts in Office 365.
                    </li>
                    <li>
                        Supervising, training, coaching BHT staff
                    </li>
                    <li>
                        Scheduling BHT shifts
                    </li>
                </ul>
                <ul>
                    <h3>BHT Tasks</h3>
                    <li>
                        Patient Transportation
                    </li>
                    <li>
                        Rounds including Q(15/30/1hr) checks
                    </li>
                    <li>
                        Medication Observation
                    </li>
                    <li>
                        Shift Reports
                    </li>
                    <li>
                        Facilitating Patient Group Sessions
                    </li>
                    <li>
                        Conflict Resolution
                    </li>
                    <li>
                        Patient Behavior Monitoring and Reporting
                    </li>
                    <li>
                        Basic End User EHR interaction
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}