{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'beach.jpg'%}');">
<div id="H_grid3" class="H_grid" style="font-size: 20px;"><strong>
    <h2 style="text-align: center;">Power BI Dashboards</h2>
    Below are a few examples of dashboards I have created over the past few years. These normally feature tools such as drill troughs, tool tips, data labels, and interactive buttons. I am highly proficient in
    the use of Power Query to transform data, including using power query's M-script to complete transformations that the GUI interface can not. Due to my proficiency in Excel I am also highly skilled in
    creating nested if/and/or statements in custom columns. When it comes to modeling I am familiar with star schema's as well as Cardinality and the importance having the correct Cardinality for table filtering.
    I am also proficient in DAX and I can create custom formulas based on what I am trying to show in the data.</strong>
</div>
<div id="H_grid4" class="H_grid">
    <img style="width: 1200px;" src="{% static 'PBI-INS.png' %}" alt="PBI-PBDG">
</div>
<div id="jc3" class="H_grid">
    <img style="width: 1200px;" src="{% static 'PBDG.png' %}" alt="PBI-PBDG">
</div>
</body>
{% endblock %}