{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'beach.jpg'%}');">
<div class="H_grid_PBI" style="font-size: 20px;"><strong>
    <h2 style="text-align: center;">Power BI Dashboards</h2>
    Below is an example of dashboards I have created using Power BI and embedding into my web app. These normally feature tools such as drill troughs, tool tips, data labels, and interactive buttons. I am highly proficient in
    the use of Power Query to transform data, including using power query's M-script to complete transformations that the GUI interface can not. Due to my proficiency in Excel I am also highly skilled in
    creating nested if/and/or statements in custom columns. When it comes to modeling I am familiar with star schema's as well as Cardinality and the importance having the correct Cardinality for table filtering.
    I am also proficient in DAX and I can create custom formulas based on what I am trying to show in the data.This Subreddit Report was created by myself in Power Bi using an api connection with pushshift.io which is run and
    maintained by <a href="https://www.reddit.com/user/Stuck_in_the_Matrix"
                     target="_blank">u/Stuck_in_the_Matrix</a>. All trademark imagery belongs to Reddit.</strong>
</div>
<div style="display: flex;
  align-items: center;
  justify-content: center; margin-top: 20px; margin-bottom: 20px;">
        <a href="https://www.reddit.com/r/PowerBI/" target="_blank" class="btn btn-primary">Click here to access - r/PowerBI</a>
    <a href="https://www.reddit.com/r/learnpython/" target="_blank" class="btn btn-primary" style="margin-left: 20px;">Click here to access - r/learnpython</a>
</div>
<div class="H_grid_PBI" style="margin-top: 20px;">
    <iframe title="reddit_post - Dashboard" width="1200" height="735"
            src="https://app.powerbi.com/view?r=eyJrIjoiYmQ1Y2JmNWQtODQxYy00NmE3LWJkNTEtZmNlZGU1YzhkMmFiIiwidCI6ImIzM2UxMWExLTM2OGQtNDhlMC1iMGQ0LTM2ODE3MzYxOGViMiIsImMiOjJ9"
            frameborder="0" allowFullScreen="true"></iframe>
</div>
</body>
{% endblock %}