{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'beach.jpg'%}');">
<div style="margin: auto; width: 60%; margin-top: 40px;"><a href="https://www.reddit.com/r/PowerBI/" target="_blank">Click here to access - r/PowerBI</a><br>
    <a href="https://www.reddit.com/r/learnpython/" target="_blank">Click here to access - r/learnpython</a></div>
<div style="margin: auto; width: 60%; margin-top: 40px;">
<iframe title="reddit_post - Dashboard" width="1500" height="910" src="https://app.powerbi.com/view?r=eyJrIjoiYmQ1Y2JmNWQtODQxYy00NmE3LWJkNTEtZmNlZGU1YzhkMmFiIiwidCI6ImIzM2UxMWExLTM2OGQtNDhlMC1iMGQ0LTM2ODE3MzYxOGViMiIsImMiOjJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
</body>
{% endblock %}