{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="ref" style="background-image: url('{% static 'beach.jpg'%}');">
<div class="ref_con_main">
    <div class="ref_grid">
        <div class="indv_ref1" style="grid-area: one">
            <H3>
                Randal Bryce
            </H3>
            Professional Reference<br>
            Former Manager<br>
            1-(973)-941-4133<br>
        </div>
        <div class="indv_ref2" style="grid-area: four">
            <H3>
                Bill Gillart</H3>
                Professional Reference<br>
                Fellow Board Member of Non-Profit<br>
                1-(561)-370-5787<br>
        </div>
        <div class="indv_ref3" style="grid-area: five">
            <H3>
                Joshua Swimmer
            </H3>
            Personal Reference<br>
            Character Reference<br>
            1-(203)-671-0673<br>
        </div>
    </div>

</div>
</body>

{% endblock %}