{% extends 'base.html' %}

{% block content %}

{% load static %}
<div id="service" class="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Custom Reports</h2>
                    <p>Here are some of the reports we offer out of the box. All reports are designed to work with Kipu
                        Health EMR but can be built to work with any EMR!<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>ALOS Analysis</h3>
                    <p>Determine how long your patients are staying.<br>
                    <br></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>Incomplete Items</h3>
                    <p>Generate a list of unsigned documents in your patient's charts.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>Census Level Tracking</h3>
                    <p>Track Census Trends over time and explore the underlying data.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>Infection Control</h3>
                    <p>Make short work of you infection control tracking by using your data to show infection sources.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>Medication Re-orders</h3>
                    <p>Generate a daily list of medications that contain stop dates for the next day.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <h3>Flag Tracking</h3>
                    <p>Tracks flags that are entered into patient's charts<br>
                    <br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>Employment and Legal Status Tracking</h3>
                        <p>Use you documentation to your advantage and pull the information that you need to track.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>Admissions Tracking</h3>
                        <p>Generate a daily list of admissions from the previous day and their demographic information.<br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>Discharge Tracking</h3>
                        <p>Generate a daily list of discharges from the previous day and their demographic information.<br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>Missing Lab Requisitions</h3>
                        <p>Ensure that your patient's lab requisitions are being completed on time.<br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>AMA Analysis</h3>
                        <p>Dive into the data associated with AMAs to discover trends in the underlying data.<br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <h3>Custom End of the Year Report</h3>
                        <p>We offer a deep dive into your data to analyze trends such as re-admissions and how they
                            correlate to other data points like diagnoses.</p>
                    </div>
                </div>
                <a class="read_more bg">and Much More!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}