{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'beach.jpg'%}');">
<div id="H_grid1" class="H_grid" style="font-size: 20px;"><strong>
    In my current role as a software analyst one of my job duties is end user training to ensure new hires have an introduction to the software. I have consistently striven to improve
    employee trainings which has reduced the number of end user support tickets submitted to the help desk by 60% compared to my predecessor. I have included below some analytics to show the amount of
    end users I have training during on-boarding which was pulled the software.</strong>
</div>
<div id="H_grid2" class="H_grid">
{{trained_chart|safe}}
</div>
</body>
{% endblock %}