{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="jbhx" style="background-image: url('{% static 'beach.jpg'%}');">
<div class="job_con_main">
    <div class="jb_grid">
        <div class="skills_container" style="grid-area: one">
            <div class="job_header"><h3>Power BI</h3>
            </div>
            <div class="job_body">
                Advance User Knowledge of:<br>
                <ul>
                    <li>
                        M-Script and Dax
                    </li>
                    <li>
                         Parameters
                    </li>
                    <li>
                        Data Engineering
                    </li>
                    <li>
                        Query from multiple sources
                    </li>
                    <li>
                        Online Service and automated Refresh
                    </li>
                    <li>
                        Pagenated Reports (SSRS)
                    </li>
                    <li>
                        Drill-Throughs and other visualization tools
                    </li>
                </ul>
                <a href="https://www.linkedin.com/skill-assessments/Microsoft%20Power%20BI/report/" target="_blank">LinkedIn Assessment Top 30%</a>
            </div>
        </div>
        <div class="skills_container" style="grid-area: four">
            <div class="job_header"><h3>Excel</h3>
            </div>
            <div class="job_body">
                Advance User Knowledge of:<br>
                <ul>
                    <li>
                        Macros
                    </li>
                    <li>
                         Formulas
                    </li>
                    <li>
                        Sub-Totaling
                    </li>
                    <li>
                        Power Query
                    </li>
                    <li>
                        Query from multiple sources
                    </li>
                </ul>
                <a href="https://www.linkedin.com/skill-assessments/Microsoft%20Excel/report/" target="_blank">LinkedIn Assessment Top 15%</a>
            </div>
        </div>
        <div class="skills_container" style="grid-area: five">
             <div class="job_header"><h3>Python</h3>
            </div>
            <div class="job_body">
                Basic User Knowledge of:<br>
                <ul>
                    <li>
                        Methods
                    </li>
                    <li>
                         Classes
                    </li>
                    <li>
                        Pandas, Numpy, and Django libraries
                    </li>
                    <li>
                        Tkinter
                    </li>
                    <li>
                        if, while, and try blocks
                    </li>
                </ul>
                <a href="https://www.linkedin.com/skill-assessments/Python%20(Programming%20Language)/report/" target="_blank">LinkedIn Assessment Top 5%</a>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}